* {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: #fff;
  background-image: url("images/desktop/image-header.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  font-size: 20px;
  color: white;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.nav span {
  margin: 0 30px;
  cursor: pointer;
}

.nav span:hover {
  color: rgb(10, 10, 49);
  transition: 0.2s ease-in-out;
}

.title {
  text-align: center;
}

.contact {
  background-color: #fff;
  color: black;
  padding: 8px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.contact:hover {
  transition: 0.2s all ease-in-out;
  background-color: #6ecffe;
}

.show-more {
  display: none;
  border: none;
  background-color: transparent;
  color: white;
  position: absolute;
  right: 30px;
  font-size: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  flex-grow: 1;
  color: white;
  font-weight: bold;
  margin-bottom: 20vh;
}

.arrow {
  margin-top: 10px;
}

.section-1,
.section-2,
.section-3 {
  display: flex;
  height: 500px;
}

.section-1 img,
.section-2 img,
.section-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-1 .left,
.section-2 .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1 .text-container,
.section-2 .text-container {
  width: 70%;
}

.left,
.right {
  flex: 1;
}

.left h1,
.right h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

.left p,
.right p {
  color: #848391;
  line-height: 1.3;
  font-family: "Fraunces", serif;
  margin-bottom: 30px;
}

.left a {
  color: #23303e;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: bold;
  border-bottom: 3px solid #fff3ad;
}

.right a {
  color: #23303e;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: bold;
  border-bottom: 3px solid #ffe9e6;
}

.left .text-container-2 {
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-position: center;
}

.right .text-container-2 {
  background-image: url("images/desktop/image-photography.jpg");
  background-size: cover;
  background-position: center;
}

.section-3 > * {
  width: 100%;
  height: 100%;
}

.text-container-2 {
  background-color: #444;
  width: 100%;
  height: 500px;
  font-family: serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-family: "Fraunces", serif;
}

.text-container-2 h1 {
  font-size: 24px;
  font-weight: bolder;
  opacity: 0.7;
}

.text-container-2 p {
  color: black;
  opacity: 0.5;
  padding: 0 60px;
  margin: 0 40px 30px 40px;
}

.client-image {
  width: 70px;
  height: 70px;
}

.client-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h1 {
  color: #a0a1a2;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.clients {
  display: flex;
  justify-content: center;
  margin: 0 15%;
  font-family: "Fraunces", serif;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-align: center;
  width: 100%;
}

.client p {
  margin-top: 40px;
  margin-bottom: 20px;
  color: hsl(213, 9%, 39%);
}

.client .details h2 {
  font-size: 16px;
  font-weight: 800;
  margin: 10px 0;
}

.client .details h4 {
  font-size: 12px;
  color: #a0a1a2;
}

.section-5 {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.bottom-left,
.bottom-right {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.bottom-left > img,
.bottom-right > img {
  width: 50%;
  height: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color: #afe4da;
  height: 200px;
  width: 100%;
  color: hsl(167, 40%, 24%);
}

.options {
  margin-top: 20px;
  margin-bottom: 40px;
}

.options a {
  margin: 0 20px;
  text-decoration: none;
  color: hsl(167, 40%, 24%);
  font-weight: bolder;
  font-size: 15px;
}

.options a:hover {
  color: white;
  transition: 0.1s ease-in-out;
}

.contacts {
  margin-bottom: 20px;
}

.contacts a {
  margin: 0 20px;
  text-decoration: none;
  color: hsl(167, 40%, 24%);
  font-size: 24px;
}

.contacts a:hover {
  color: #fff;
  transition: 0.1s ease-in-out;
}

@media screen and (max-width: 900px) {
  * {
    overflow-x: hidden;
  }

  .banner {
    max-height: 500px;
  }

  .nav {
    position: absolute;
    width: 90%;
    top: 80px;
    left: 5%;
    right: 5%;
    justify-self: center;
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 15px;
    transition: visibility 0.3s, opacity 0.3s linear;
    visibility: visible;
  }

  .hide-nav {
    visibility: hidden;
    opacity: 0;
  }

  .nav span {
    color: #444;
    margin: 20px 0;
  }

  .contact {
    background-color: #ffc107;
  }

  .show-more {
    display: block;
  }

  .title {
    font-size: 6vw;
  }

  .arrow {
    height: 80px;
  }

  .section-1,
  .section-3 {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .section-1 > .left,
  .section-2 > .right {
    margin: 60px 0;
  }
  .text-container {
    overflow-y: hidden;
  }

  .text-container > h1 {
    font-size: 30px;
  }

  .testimonials h1 {
    text-align: center;
  }

  .clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-5 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .text-container > h1 {
    font-size: 25px;
  }

  .footer {
    height: fit-content;
    padding-bottom: 15px;
  }

  .options {
    text-align: center;
    justify-content: center;
  }

  .text-container-2 p {
    font-size: 14px;
    padding: 0;
  }

  .contacts {
    text-align: center;
  }
}
